
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* styles.css */

:root {
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-geist-mono: 'GeistMono', monospace;
}


@font-face {
    font-family: 'Geist Mono';
    src:
      url('/fonts/GeistMonoVF.woff') format('woff2 supports variations'),
      url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  html {
    font-family: 'Geist Mono';
  }